body{
    background-color: #f8f8f6;
    background-image: url(media/back.png);
    background-size: 94.5%;
    background-repeat:no-repeat;
    height: 100%;
    margin: 0;
}

#header{
    width: 35%;
    height: 45%;
    margin-top: 1%;
    margin-left: 32%;
}

#middle{
    margin-top: 2%;
}

#steel{
    width: 40%;
    margin-left: 30.5%;
    margin-top: 2%;
    
}

#sifre-box{
    position: relative;
    width: 23%;
    height: 20%;
    margin:auto;
    margin-top: 2%;

}

#sifre-img{
    width: 100%;
    height: 100%;

    object-fit: fill;
    display: block;
}

#sifre{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Resmi tam merkeze sabitleyen kritik ayar */
  
  width: 70%;
  padding: 10px;
  text-align: center;
  background: transparent; 
  border: none;           
  outline: none;           
  
  /* Yazı tipi ayarları*/
  font-size: 1.2rem;
  color: #dfa6a5;

}

#pasta{
    z-index: 0;
}

#mum{
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    background-color: black;
    top: 12%;
    left: 47.5%;
    margin: auto;
    position: absolute;
    z-index: 999;
    width: 30px;
    height: 40px;
}

.menu{
    cursor: pointer;
    pointer-events:auto;
}



.ticket{
    cursor: pointer;
    pointer-events: auto;
}